@import "nullstyle.scss";

.wraper {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	overflow: hidden;
	min-height: 100%;
	width: 100%;
}
body {
	background-color: #f2f2f2;
	font-family: "Oswald";
	font-size: 65.2%;
	font-weight: 400;
	color: #252525;
}
body.noscrol {
	overflow: hidden;
}

main {
	flex: 1 1 auto;
}

.contener {
	max-width: 1190px;
	margin: 0 auto;
	padding: 0px 10px;
}

.header {
	position: relative;
	background: url(../img/Image01.png) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__hamb {
		margin: 20px 0 20px;
		background-color: #f5f6f7;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		padding: 5px;
		position: relative;
		display: none;
		cursor: pointer;
		@media (max-width: 767.98px) {
			display: block;
		}
	}

	&__ham1,
	&__ham2,
	&__ham3 {
		position: absolute;
		display: inline-block;
		width: 18px;
		height: 2px;
		background: #000;
		transition: all 0.3s ease 0s;
		pointer-events: none;
	}

	&__ham1 {
		top: 14px;
		left: 11px;
	}

	&__ham2 {
		top: 19px;
		left: 11px;
	}
	&__ham3 {
		top: 24px;
		left: 11px;
	}

	&__popup {
		position: absolute;
		left: -120%;
		top: 80px;
		min-height: 100%;
		width: 100%;
		background-color: #fff;
		opacity: 0.9;
		transition: all 0.4s ease 0s;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #000;
		font-size: 40px;
		z-index: 10;
		@media (min-width: 767.98px) {
			display: none;
		}
	}
	&__popup {
		.menu__list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.menu__item {
			margin-right: 0;
		}
		.menu__link {
			line-height: 150%;
			display: flex;
			letter-spacing: 1.94px;
			color: #000;
			font-size: 40px;
			font-weight: 600;
			transition: all 0.3s ease 0s;
		}
	}

	&__popup.open {
		left: 0;
	}

	&__menu {
		@media (max-width: 767.98px) {
			display: none;
		}
	}

	&__title {
		display: block;
		font-weight: 500;
		font-size: 72px;
		line-height: 148%;
		text-align: center;
		letter-spacing: 4.608px;
		color: #ffffff;
		margin-bottom: 24px;
		transition: all 0.5s ease 0.5s;
		transform: scale(0.8);

		@media (max-width: 991.98px) {
			font-size: 54px;
		}
		@media (max-width: 767.98px) {
			font-size: 36px;
		}
	}
	&__title.active {
		transform: scale(1);
	}

	&__subtitle {
		display: block;
		font-size: 20px;
		line-height: 115%;
		letter-spacing: 1.28px;
		color: #ffffff;
		mix-blend-mode: normal;
		opacity: 0.8;
		margin-bottom: 320px;
		text-align: center;
		@media (max-width: 991.98px) {
			margin-bottom: 200px;
		}
		@media (max-width: 767.98px) {
			font-size: 18px;
			margin-bottom: 100px;
		}
	}

	&__buttom {
		position: absolute;
		left: 46%;
		bottom: 20px;
		width: 50px;
		height: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		margin-bottom: 20px;
	}

	&__numbr {
		position: relative;
		font-weight: 700;
		font-size: 18px;
		letter-spacing: 1.152px;
		color: rgba(255, 255, 255, 0.437245);
		z-index: 2;
		cursor: pointer;
		transition: all 0.3s ease 0s;
	}

	&__numbr:not(:last-child) {
		margin-right: 9px;
	}

	&__numbr.active {
		font-size: 36px;
		letter-spacing: 2.304px;
		color: #ffffff;
	}
	&__numbr.active::before {
		content: " ";
		position: absolute;
		width: 9.98px;
		height: 2px;
		left: 0px;
		top: 20px;
		background: #4caf50;
	}
	&__numbr.active::after {
		content: " ";
		position: absolute;

		width: 39.93px;
		height: 2px;
		right: 0px;
		top: 20px;
		background: #4caf50;
		z-index: -1;
	}
}
.header__hamb.active *:nth-child(2) {
	transform: scale(0);
}

.header__hamb.active *:nth-child(1) {
	transform: rotate(45deg);
	top: 18px;
}

.header__hamb.active *:nth-child(3) {
	transform: rotate(-45deg);
	top: 18px;
}
.menu {
	margin: 20px 0 17% 0;
	@media (max-width: 991.98px) {
		margin: 20px 0 200px 0;
	}
	@media (max-width: 767.98px) {
		margin: 20px 0 130px 0;
	}

	&__list {
		display: flex;
		justify-content: flex-end;
	}

	&__item:not(:last-child) {
		@media (min-width: 767.98px) {
			margin-right: 58px;
		}
	}

	&__link {
		font-size: 14px;
		line-height: 150%;
		letter-spacing: 1.94px;
		color: #ffffff;
		transition: all 0.3s ease 0s;
	}
	&__link:hover {
		text-decoration: underline;
		color: #b69595;
	}
}

/*=======hero================================*/
.hero {
	padding: 150px 0;
	@media (max-width: 767.98px) {
		padding: 100px 0;
	}
	@media (max-width: 600.98px) {
		padding: 100px 0 250px;
	}

	&__contener {
		display: flex;
		justify-content: space-between;
		@media (max-width: 600.98px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__are {
		position: relative;
	}

	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 147%;
		letter-spacing: 2.304px;
		color: #333333;
		margin: 90px 0 4px;
	}

	&__subtitle {
		font-size: 42px;
		line-height: 116%;
		letter-spacing: 2.688px;
		color: #504e4e;
		margin-bottom: 32px;
	}

	&__image {
		position: absolute;
		top: -30px;
		left: 162px;
		z-index: -1;
		@media (max-width: 767.98px) {
			left: -14px;
		}
	}

	&__kub {
		position: relative;
	}

	&__body {
		position: absolute;
		width: 309px;
		height: 418px;
		left: -190px;
		top: 40px;
		background: #4caf50;
		mix-blend-mode: normal;
		opacity: 0.8;
		z-index: -3;
		@media (max-width: 1010.98px) {
			left: -162px;
		}
		@media (max-width: 767.98px) {
			height: 391px;
			top: -30px;
			left: -200px;
		}
		@media (max-width: 600.98px) {
			display: none;
		}
	}

	&__info {
		position: relative;
	}
}

.text {
	padding-left: 39px;
	position: relative;
	font-size: 15px;
	line-height: 167%;
	letter-spacing: 1.26px;
	width: 281px;
	color: #5b5858;
}
.text::after {
	content: " ";
	position: absolute;
	width: 20px;
	height: 2px;
	left: 12px;
	top: 14px;
	background: #353535;
}
.info {
	&__image {
		position: absolute;
		top: 170px;
		left: -280px;
		z-index: -7;

		@media (max-width: 1010.98px) {
			top: 259px;
			left: -173px;
		}
		@media (max-width: 767.98px) {
			top: -30px;
			left: -14px;
		}
		@media (max-width: 600.98px) {
			top: 80px;
		}
	}

	&__text {
		margin-top: 500px;
		@media (max-width: 767.98px) {
			margin-top: 235px;
		}
	}
}

/*========services====================================*/

.services {
	padding: 130px 0px;
	background-color: #fbfbfb;
	@media (max-width: 767.98px) {
		padding: 90px 0;
	}

	&__contener {
		padding: 0px 10px;
	}

	&__title {
		margin-bottom: 94px;
		@media (max-width: 767.98px) {
			margin-bottom: 50px;
		}
		@media (max-width: 700.98px) {
			text-align: center;
		}
	}

	&__items {
		display: flex;
		justify-content: space-between;
		@media (max-width: 700.98px) {
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}

	&__item {
		flex: 0 1 30%;
		min-width: 220px;
		padding: 50px 43px 35px;
		background-color: #fff;
		@media (max-width: 1023.98px) {
			padding: 20px;
		}
		@media (max-width: 767.98px) {
			padding: 15px;
		}
	}
	&__item:not(:last-child) {
		@media (max-width: 700.98px) {
			margin-bottom: 15px;
		}
	}
	&__item.hover {
		border-bottom: 3px solid #70bf73;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 36px;
		align-items: center;
	}

	&__titlesm {
		position: relative;
		font-weight: 300;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 1.28px;
		text-transform: uppercase;
		margin-right: 15px;
	}
	&__titlesm::after {
		content: "";
		position: absolute;
		position: absolute;
		width: 35px;
		height: 2px;
		left: 0px;
		top: 42px;
		background-color: #252525;
		@media (max-width: 767.98px) {
			width: 25px;
		}
	}

	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: #ffffff;
		box-shadow: 0px 0px 20px #dbdbdb;
	}

	&__text {
		line-height: 208%;
		letter-spacing: 1.008px;
		color: #777777;
		margin-bottom: 19px;
	}

	&__link {
		font-weight: 300;
		font-size: 10px;
		line-height: 15px;
		letter-spacing: 0.64px;
		text-transform: uppercase;
		color: #252525;
		mix-blend-mode: normal;
		opacity: 0.5;
	}
}

.title {
	display: inline-block;
	position: relative;
	font-weight: 700;
	font-size: 48px;
	line-height: 71px;
	letter-spacing: 3.072px;
	@media (max-width: 767.98px) {
		font-size: 40px;
	}
}

.title::after {
	content: "";
	position: absolute;
	width: 45px;
	height: 2px;
	left: 0px;
	top: 72px;
	background-color: #252525;
}

//works----------------------------------------

.works {
	padding: 146px 0;
	@media (max-width: 767.98px) {
		padding: 100px 0;
	}

	&__contener {
		@media (max-width: 370.98px) {
			padding: 0;
		}
	}

	&__items {
		display: grid;
		row-gap: 50px;
		column-gap: 50px;
		grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
		justify-items: center;
		@media (max-width: 767.98px) {
			grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		}
	}

	&__item.smol {
		grid-column: span 1;
		grid-row: span 1;
	}
	&__item {
		grid-column: span 1;
		grid-row: span 2;
	}

	&__title {
		margin-bottom: 60px;
	}

	&__list {
		display: flex;
		@media (max-width: 450.98px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__li:not(:last-child) {
		margin-right: 40px;
		@media (max-width: 767.98px) {
			margin-right: 30px;
		}
		@media (max-width: 470.98px) {
			margin-right: 20px;
			margin-bottom: 20px;
		}
	}

	&__link {
		font-size: 13px;
		line-height: 115%;
		letter-spacing: 0.832px;
		mix-blend-mode: normal;
		opacity: 0.3;
		@media (max-width: 470.98px) {
			font-size: 12px;
		}
	}
}

.item {
	max-width: 455px;

	&__image {
		position: relative;
		max-width: 455px;
		max-height: 444px;
		background-color: #b0b2b6;
		margin-bottom: 24px;
	}

	&__imagetitle {
		position: absolute;
		//max-width: 295px;
		max-height: 142px;
		left: -133px;
		top: 262px;
		font-weight: 300;
		font-size: 48px;
		line-height: 174%;
		letter-spacing: 3.072px;
		@media (max-width: 767.98px) {
			left: 30px;
			font-size: 36px;
		}
		@media (max-width: 600.98px) {
			left: 20px;
			font-size: 28px;
		}
		@media (max-width: 424.98px) {
			left: 10px;
			font-size: 26px;
			top: 200px;
		}
	}

	&__imagetitle::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 3px;
		left: 0px;
		top: 44px;
		background-color: #70bf73;
	}
	img {
		max-width: 100%;
	}

	&__title {
		font-size: 18px;
		line-height: 21px;
		text-align: right;
		letter-spacing: 1.152px;
		margin-bottom: 17px;
		margin-right: 130px;
		@media (max-width: 767.98px) {
			text-align: center;
			margin-right: 0;
		}
	}

	&__text {
		font-size: 13px;
		line-height: 177%;
		text-align: right;
		letter-spacing: 0.832px;
		margin-right: 130px;
		margin-bottom: 20px;
		@media (max-width: 767.98px) {
			text-align: center;
			margin-right: 0;
		}
	}

	&__btn {
		text-align: center;
	}

	&__link {
		font-size: 13px;
		line-height: 15px;
		letter-spacing: 0.832px;
		color: #252525;
	}
}

.item {
	&__imagetitle {
		&_left {
			left: 365px;
			@media (max-width: 767.98px) {
				left: 30px;
				font-size: 36px;
				@media (max-width: 600.98px) {
					left: 20px;
					font-size: 28px;
				}
				@media (max-width: 424.98px) {
					left: 10px;
					font-size: 26px;
					top: 200px;
				}
			}
		}
	}
}
.item {
	&__title {
		&_left {
			text-align: left;
			margin-left: 130px;
			margin-right: 0;
			@media (max-width: 767.98px) {
				text-align: center;
				margin-left: 0;
			}
		}
	}

	&__text {
		&_left {
			text-align: left;
			margin-left: 130px;
			margin-right: 0;
			@media (max-width: 767.98px) {
				text-align: center;
				margin-left: 0;
			}
		}
	}
}

//team-------------------------------------//
.team {
	padding: 130px 0;
	background-color: #fbfbfb;
	@media (max-width: 767.98px) {
		padding: 90px 0;
	}

	&__title {
		margin-bottom: 74px;
		@media (max-width: 767.98px) {
			margin-bottom: 50px;
		}
		@media (max-width: 424.98px) {
			margin-bottom: 40px;
		}
	}

	&__items {
		padding: -14px;
		display: flex;
		justify-content: space-between;
		@media (max-width: 700.98px) {
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}

	&__item {
		flex: 0 1 30%;
		min-width: 200px;
		max-width: 370px;
		margin: 14px;
		@media (max-width: 700.98px) {
			min-width: 240px;
		}
		@media (max-width: 550.98px) {
			min-width: 270px;
		}
	}

	&__body {
		position: relative;
		overflow: hidden;
	}
	&__body:hover {
		.inf {
			height: 37%;
			@media (max-width: 1024.98px) {
				height: 39%;
			}
			@media (max-width: 768.98px) {
				height: 40%;
			}
			@media (max-width: 550.98px) {
				height: 40%;
			}
		}
	}

	&__image {
		max-width: 100%;
	}
	img {
		max-width: 100%;
	}
}

.inf {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 14%;
	background-color: #ffffff;
	mix-blend-mode: normal;
	opacity: 0.92;
	transition: all 0.3s ease 0s;
	@media (max-width: 1024.98px) {
		height: 16%;
	}
	@media (max-width: 550.98px) {
		height: 14%;
	}

	&__name {
		position: relative;
		font-weight: 300;
		font-size: 18px;
		line-height: 158%;
		letter-spacing: 1.152px;
		margin-bottom: 16px;
		margin-top: 19px;
		text-align: center;
		@media (max-width: 1024.98px) {
			margin-bottom: 13px;
			margin-top: 12px;
		}
		@media (max-width: 920.98px) {
			font-size: 16px;
			margin: 10px 0;
		}
	}
	&__name::after {
		position: absolute;
		content: "";
		width: 45px;
		height: 2px;
		left: 44%;
		top: 35px;
		background-color: #252525;
		@media (max-width: 920.98px) {
			display: none;
		}
	}

	&__special {
		font-weight: 300;
		font-size: 18px;
		line-height: 158%;
		letter-spacing: 1.152px;
		margin-bottom: 12px;
		text-align: center;
		@media (max-width: 1024.98px) {
			margin-bottom: 10px;
		}
		@media (max-width: 920.98px) {
			font-size: 14px;
		}
	}

	&__tx {
		font-size: 12px;
		line-height: 208%;
		letter-spacing: 1.008px;
		color: #777777;
		text-align: center;
	}
}

//slider---------------------------------------//

.slider {
	position: relative;
	padding: 117px 0 90px;
	@media (max-width: 767.98px) {
		padding: 80px 0;
	}

	&__body {
		max-width: 677px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__body.none {
		display: none;
	}

	&__text {
		font-size: 14px;
		line-height: 221%;
		text-align: center;
		letter-spacing: 0.896px;
		color: #373737;
		margin-bottom: 80px;
		@media (max-width: 600.98px) {
			margin-bottom: 50px;
		}
	}

	&__numb {
		margin-bottom: 29px;
	}

	&__name {
		font-size: 18px;
		line-height: 150%;
		text-align: center;
		letter-spacing: 1.152px;
		color: #373737;
		margin-bottom: 25px;
	}

	&__namesp {
		font-size: 14px;
		opacity: 0.8;
	}

	&__stars {
		display: flex;
		justify-content: center;
		max-width: 511px;
		width: 100%;
		border-bottom: 1px solid #d8d8d8;
		padding-bottom: 30px;
	}
	&__star:not(:last-child) {
		margin-right: 9px;
	}

	&__btn {
		position: absolute;
		width: 20px;
		height: 20px;
		background: url(../img/slider/next.svg) no-repeat;
		background-size: cover;
		opacity: 0.5;
	}
	&__btn.next {
		right: 10%;
		top: 77%;
		@media (max-width: 1020.98px) {
			right: 5%;
			top: 60%;
		}
	}
	&__btn.prev {
		left: 10%;
		top: 77%;
		transform: rotate(180deg);
		@media (max-width: 1020.98px) {
			left: 5%;
			top: 60%;
		}
	}
}

//------contact--------------------//

.contact {
	&__body {
		display: flex;
		margin: 0 auto;
		justify-content: center;
		@media (max-width: 560.98px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		padding: 4.375rem 1.25rem 6.25rem;
		flex: 0 1 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #fbfbfb;
		color: #373737;
		@media (max-width: 560.98px) {
			flex: 0 1 100%;
		}
	}

	&__image {
		margin-bottom: 20px;
	}

	&__title {
		font-size: 1.5rem;
		line-height: 150%;
		letter-spacing: 0.1667rem;
		color: inherit;
		margin-bottom: 1.5rem;
	}

	&__text {
		font-size: 0.875rem;
		line-height: 114%;
		letter-spacing: 0.0972rem;
		color: inherit;
		mix-blend-mode: normal;
		opacity: 0.8;
	}
}

.item-active {
	background-color: #70bd59;
	color: #ffffff;
}

//footer-------------------------//

.footer {
	background-color: #2e2e2e;

	&__body {
		padding: 140px 0 80px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__adres {
		font-weight: 300;
		font-size: 13px;
		line-height: 146%;
		letter-spacing: 0.832px;
		color: #ffffff;
		mix-blend-mode: normal;
		opacity: 0.5;
		margin-bottom: 10px;
	}

	&__contact {
		margin-bottom: 40px;
	}

	&__tel {
		font-weight: 300;
		font-size: 13px;
		line-height: 146%;
		letter-spacing: 0.832px;
		color: #ffffff;
		mix-blend-mode: normal;
		opacity: 0.5;
		transition: all 0.3s ease 0s;
	}

	&__span {
		color: #ffffff;
		mix-blend-mode: normal;
		opacity: 0.5;
	}

	&__mail {
		font-weight: 300;
		font-size: 13px;
		line-height: 146%;
		letter-spacing: 0.832px;
		color: #ffffff;
		mix-blend-mode: normal;
		opacity: 0.5;
		transition: all 0.3s ease 0s;
	}

	&__mail:hover {
		opacity: 1;
	}
	&__tel:hover {
		opacity: 1;
	}

	&__social {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__link:not(:last-child) {
		margin-right: 20px;
	}
	&__link > svg {
		transition: all 0.3s ease 0s;
	}
	&__link > svg:hover {
		opacity: 1;
	}

	&__copi {
		background-color: #252525;
		font-weight: 300;
		font-size: 13px;
		line-height: 146%;
		letter-spacing: 0.832px;
		color: #ffffff;
		mix-blend-mode: normal;
		opacity: 0.5;
		text-align: center;
		padding: 20px;
	}
}
